@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (min-width: 56.25em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (min-width: 37.5em) {
    html {
      font-size: 60%; } }
  @media only screen and (min-width: 75em) {
    html {
      font-size: 70%; } }

body {
  box-sizing: border-box;
  width: 100%;
  position: relative; }
  @media only screen and (min-width: 56.25em) {
    body {
      padding: 0 0 0 2rem; } }

.body-container {
  width: 100vw;
  position: relative;
  z-index: 100;
  transition: all 1s;
  backface-visibility: hidden; }
  @media only screen and (min-width: 56.25em) {
    .body-container {
      width: 95vw;
      margin: 0 auto; } }
  @media only screen and (min-width: 112.5em) {
    .body-container {
      width: 90vw;
      max-height: 90vh;
      margin: 0 auto; } }

.main-img__container {
  position: relative;
  width: 100%; }

.previous,
.next {
  position: absolute;
  top: 40%;
  background-color: white;
  padding: 1.5rem 1.8rem;
  border-radius: 50%;
  z-index: 200; }

.previous {
  left: 5%; }

.next {
  right: 5%; }

.main-img {
  width: 100%;
  position: relative;
  z-index: 100; }

.all-imgs__container {
  display: none; }

.product-content {
  padding: 2rem 3rem; }

.product-class {
  color: #ff7d1a;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  word-spacing: 0.2rem;
  font-size: 1.7rem;
  margin-bottom: 1rem; }

.product-name {
  font-size: 3.5rem;
  line-height: normal;
  margin-bottom: 2rem; }

.product-info {
  font-size: 2rem;
  margin-bottom: 1rem; }

.product-price-box {
  padding: 1rem 0 2rem;
  align-items: center; }

.product-price {
  font-size: 3rem;
  color: black;
  margin-right: 2rem; }

.discount {
  color: #ff7d1a;
  background-color: #ffede0;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  border-radius: 5px;
  padding: 0 0.7rem; }

.old-price {
  text-decoration: line-through;
  color: #b6bcc8;
  font-size: 2rem; }

.number {
  border: none;
  outline: none;
  background-color: inherit;
  font-weight: bold;
  font-size: 2rem; }

.quantity-box {
  padding: 2rem;
  background-color: #f7f8fd;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.cta-container {
  flex-direction: column; }

.add-to-cart-div {
  width: 100%; }

.add-to-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  width: 100%;
  padding: 2rem 0;
  background-color: #ff7d1a;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  color: white;
  font-size: 2rem;
  box-shadow: 1rem 1rem 10rem #ffede0; }
  .add-to-cart:active {
    transform: translateY(0.1rem); }

.cta-cart {
  margin-right: 1rem; }

.active {
  border: 3px solid #ff7d1a;
  filter: opacity(70%) brightness(105%) invert(10%); }

.main__close-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 3rem; }

.modal-close {
  fill: #fff !important; }

.overlay-blur {
  backdrop-filter: blur(1px); }

.modal {
  position: absolute;
  z-index: 2000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.modal-main-img__container {
  display: flex;
  justify-content: center; }

@media only screen and (min-width: 56.25em) {
  .main-container {
    padding: 5rem 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center; }
  .main-img__container {
    display: flex;
    justify-content: center; }
  .main-img {
    width: 90%;
    border-radius: 15px; }
  .modal-main-img {
    width: 90% !important; }
  .previous,
  .next {
    display: none; }
  .modal-previous,
  .modal-next {
    display: block;
    position: absolute;
    top: 40%;
    background-color: white;
    padding: 1.5rem 1.8rem;
    border-radius: 50%;
    z-index: 200; }
  .modal-previous {
    left: 0; }
    .modal-previous:hover {
      fill: #ff7d1a; }
  .modal-all-imgs__container {
    width: 80% !important; }
  .modal-next {
    right: 0; }
  .all-imgs__container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 3rem; }
  .all-pictures {
    width: 10rem;
    border-radius: 10px; }
  .product-price-box {
    flex-direction: column;
    align-items: flex-start; }
  .cta-container {
    flex-direction: row;
    justify-content: space-between; }
  .number {
    width: 10rem;
    font-size: 1.5rem; }
  .quantity-box {
    padding: 0.5rem 1.5rem;
    background-color: #f7f8fd;
    border-radius: 5px; }
  .add-to-cart-div {
    width: 100%;
    margin-left: 1.5rem; }
  .add-to-cart {
    margin-top: 0;
    font-size: 1.5rem; }
  .product-content {
    padding: 0 0 0 3rem; } }

@media only screen and (min-width: 75em) {
  .main-img__container {
    display: flex;
    justify-content: center; }
  .main-img {
    width: 80%; }
  .modal-main-img {
    width: 80% !important; }
  .all-imgs__container {
    width: 80%; }
  .modal-previous {
    left: 10%; }
  .modal-next {
    right: 10%; }
  .all-pictures {
    width: 10rem; }
  .number {
    width: 20rem;
    font-size: 2rem; }
  .quantity-box {
    padding: 0.5rem 2rem; }
  .add-to-cart {
    font-size: 2rem; }
  .product-content {
    padding: 0 2rem 0 4rem;
    margin-top: -3rem; }
  .product-class {
    font-size: 2rem; }
  .product-name {
    font-size: 4rem; }
  .product-info {
    font-size: 2rem;
    margin-bottom: 1rem; }
  .product-price {
    font-size: 3rem; }
  .discount,
  .old-price {
    font-size: 2rem; } }

@media only screen and (min-width: 112.5em) {
  .product-content {
    padding: 0 5rem; }
  .modal-main-img {
    width: 60% !important; }
  .main-img {
    width: 65%; }
  .all-imgs__container {
    width: 65%; }
  .modal-previous {
    left: 20%; }
  .modal-next {
    right: 20%; } }

.header {
  padding: 1rem 2rem; }

.cart-display {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 95%;
  top: 9.2%;
  background-color: white;
  z-index: 500;
  left: 50%;
  height: 30rem;
  border-radius: 10px;
  transform: translateX(-50%);
  visibility: hidden;
  animation: moveInRight 1s ease-in; }
  @media only screen and (min-width: 56.25em) {
    .cart-display {
      width: 50%;
      top: 9.2%;
      z-index: 500;
      right: 0;
      transform: translateX(0);
      animation: moveInRight 1s ease-in;
      box-shadow: 0.1rem 0.1rem 10rem rgba(0, 0, 0, 0.2); } }
  @media only screen and (min-width: 75em) {
    .cart-display {
      width: 40%;
      top: 12%;
      right: 0;
      transform: translateX(20%);
      animation: none; } }
  @media only screen and (min-width: 112.5em) {
    .cart-display {
      width: 30%;
      transform: translateX(50%); } }

.product-header {
  font-size: 4rem;
  margin-top: -0.2rem; }
  @media only screen and (min-width: 56.25em) {
    .product-header {
      font-size: 3rem; } }

.cart-product-image {
  width: 6rem;
  height: 6rem;
  margin-right: 1rem;
  border-radius: 2px;
  margin-right: 1rem; }
  @media only screen and (min-width: 37.5em) {
    .cart-product-image {
      margin-right: 2rem; } }

.cart__container {
  margin-right: 2.5rem; }

.cart-icon__container {
  position: relative;
  cursor: pointer; }

.cart-main-details {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.product-name__cart {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.cart-notification {
  background-color: #ff7d1a;
  padding: 0 0.8rem;
  font-weight: bold;
  font-size: 1.1rem;
  border-radius: 15px;
  color: white;
  position: absolute;
  left: 50%;
  top: -30%;
  visibility: hidden; }

.trash-items {
  width: 15px;
  height: 15px;
  margin-left: 2rem; }
  @media only screen and (min-width: 37.5em) {
    .trash-items {
      margin-left: 4rem; } }

.cart-title {
  font-weight: bold;
  padding: 2rem;
  border-bottom: 2px solid #f7f8fd;
  font-size: 2rem; }

.cart-items {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  display: none; }
  @media only screen and (min-width: 37.5em) {
    .cart-items {
      padding: 2.5rem; } }

.user-image {
  width: 30px;
  cursor: pointer; }

.top-cart {
  width: 100%;
  font-size: 2rem; }

.empty-cart-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  font-weight: bold;
  margin-top: -2rem; }

.cart__total-price {
  font-weight: bold;
  margin-left: 1rem;
  color: black; }

.buy {
  width: 100%; }

.checkout-button {
  margin-top: 3rem;
  width: 100%;
  padding: 2rem 0;
  background-color: #ff7d1a;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  color: white;
  font-size: 2rem; }

@media only screen and (min-width: 37.5em) {
  .cart-product-image {
    margin-right: 2rem; }
  .trash-items {
    margin-left: 4rem; } }

@media only screen and (min-width: 56.25em) {
  .header {
    border-bottom: 1px solid #b6bcc8;
    padding: 5rem 2rem 1rem 2rem; }
  .cart__container {
    margin-right: 3.5rem; } }

.nav {
  position: absolute;
  background-color: white;
  z-index: 2000;
  height: 100%;
  width: 70%;
  top: 0;
  left: 0;
  padding: 3rem;
  visibility: hidden;
  animation: moveInLeft 3s ease-in; }
  @media only screen and (min-width: 56.25em) {
    .nav {
      visibility: visible;
      position: static;
      animation: none;
      z-index: 100;
      padding: 1rem; } }
  .nav__container {
    list-style: none; }
    @media only screen and (min-width: 56.25em) {
      .nav__container {
        display: flex;
        justify-content: space-between; } }
  .nav__list {
    margin-bottom: 1.5rem; }
    @media only screen and (min-width: 56.25em) {
      .nav__list {
        margin: 0;
        visibility: visible; } }
  .nav__link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 2rem;
    padding-bottom: 2rem; }
    @media only screen and (min-width: 56.25em) {
      .nav__link {
        color: #68707d;
        font-weight: normal;
        font-size: 1.8rem;
        margin-right: 2rem; }
        .nav__link:hover {
          border-bottom: 3px solid #ff7d1a; } }
  .nav__close-container {
    margin-bottom: 3rem; }
    @media only screen and (min-width: 56.25em) {
      .nav__close-container {
        display: none; } }

.nav__icon-container {
  margin-right: 2rem;
  display: flex;
  align-items: center; }
  @media only screen and (min-width: 56.25em) {
    .nav__icon-container {
      display: none; } }

.close {
  fill: #69707d; }
  .close:hover {
    fill: #ff7d1a; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.514);
  z-index: 800; }

.hidden {
  display: none; }

body {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  line-height: 1.7; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold; }

p {
  color: #68707d; }

.flex {
  display: flex; }

.fd-c {
  flex-direction: column; }

.jc-c {
  justify-content: center; }

.jc-sb {
  justify-content: space-between; }

.ai-c {
  align-items: center; }

.ai-fs {
  align-items: start; }
