.main-img__container {
  position: relative;
  width: 100%;
}

.previous,
.next {
  position: absolute;
  top: 40%;
  background-color: white;
  padding: 1.5rem 1.8rem;
  border-radius: 50%;
  z-index: 200;
}

.previous {
  left: 5%;
}

.next {
  right: 5%;
}

.main-img {
  width: 100%;
  position: relative;
  z-index: 100;
}

.all-imgs__container {
  display: none;
}

//The bottom part
.product-content {
  padding: 2rem 3rem;
}

.product-class {
  color: $color-primary-orange;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  word-spacing: 0.2rem;
  font-size: 1.7rem;
  margin-bottom: 1rem;
}
.product-name {
  font-size: 3.5rem;
  line-height: normal;
  margin-bottom: 2rem;
}

.product-info {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.product-price-box {
  padding: 1rem 0 2rem;
}

.product-price {
  font-size: 3rem;
  color: black;
  margin-right: 2rem;
}

.discount {
  color: $color-primary-orange;
  background-color: $color-primary-pale-orange;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  border-radius: 5px;
  padding: 0 0.7rem;
}

.old-price {
  text-decoration: line-through;
  color: $color-grayish-blue;
  font-size: 2rem;
}

.number {
  border: none;
  outline: none;
  background-color: inherit;
  font-weight: bold;
  font-size: 2rem;
}

.quantity-box {
  padding: 2rem;
  background-color: $color-light-grayish-blue;
  border-radius: 5px;
}

.cta-container {
  flex-direction: column;
}

.add-to-cart {
  margin-top: 2rem;
  width: 100%;
  padding: 2rem 0;
  background-color: $color-primary-orange;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  color: $color-white;
  font-size: 2rem;
}

.cta-cart {
  margin-right: 1rem;
}
